{% extends "base.html" %}
{% load staticfiles %}
{% block container %}
    <ol class="breadcrumb"> 
        <li> <a href="{% url "home" %}">Home</a> </li>
        <li> <a href="{% url "publication_list" %}">Publications list</a> </li>                 
        <li class="active"> Publication </li>                 
    </ol>             
    <div class="row"> 
        <article class="col-xs-12 maincontent"> 
            <header class="page-header"> 
                <h1 class="page-title">Publication</h1> 
            </header>  
            <div class="row">
                <div class="col-md-10 col-md-offset-1"> 
                    <div class="panel panel-default"> 
                        <div class="panel-body">
                            <div class="top-margin"> 
                                <label>Title: </label>  
                                <p>{{ publication.title }}</p>
                            </div>                              
                            <div class="top-margin"> 
                                <label>Content: </label>   
                                <p>{{ publication.content|safe }}</p>  
                            </div> 
                            {% if publication.url %}
                            <div class="top-margin"> 
                                <label>Extra information: </label>   
                                <a href="{{ publication.url }}">{{ publication.url }}</p>  
                            </div> 
                            {% endif %}
                            {% if publication.dataset %}
                                <div class="top-margin"> 
                                    <label>Dataset associated: </label>   
                                    <a href="{% url "dataset_desc" id=publication.dataset.id %}">{{ publication.dataset.title }}</a>  
                                </div> 
                            {% elif publication.event %}
                                <div class="top-margin"> 
                                    <label>Event associated: </label>   
                                    <a href="{% url "event_detail" id=publication.event.id %}">{{ publication.event.title }}</a>  
                                </div> 
                            {% endif %}
                        </div>
                    </div>
                </div>                             
            </div>  
        </article>
    </div>
{% endblock container %}  