{% extends "base.html" %}
{% block container %}
    {% if fileform.non_field_errors  %}
        {% for e in fileform.non_field_errors %} 
            <div class="row"> 
                <div class="col-md-6 widget col-md-offset-3"> 
                    <div class="alert alert-danger" role="alert">{{ e }}</div>
                </div>
            </div>
        {% endfor %} 
    {% endif %}
    <ol class="breadcrumb"> 
        <li><a href="{% url "home" %}">Home</a></li>
        <li><a href="{% url "dataset_list" %}">Dataset list</a></li>
        <li><a href="{% url "dataset_edit" id=dataset.id %}">{{ dataset.title }}</a></li>                 
        <li><a href="{% url "data_edit" id=data.id dataset_id=dataset.id %}">{{ data.title }}</a></li>
        <li class="active">File creation</li>               
    </ol>           
    <div class="row"> 
        <article class="col-xs-12 maincontent"> 
            <header class="page-header"> 
                <h1 class="page-title">File creation</h1> 
            </header>    
            <div class="row">
                <div class="col-md-6 col-md-offset-3"> 
                    <div class="panel panel-default"> 
                        <div class="panel-body">
                            <h3 class="thin text-center">File</h3> 
                            <span>You can create a data file with an URL or a file located on your PC</span>
                            <hr>                            
                            <form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
                                <div class="top-margin"> 
                                    <label>Name 
                                        {% if fileform.name.field.required %}
                                        <span class="text-danger">*</span>
                                        {% endif %}
                                    </label>  
                                    {% if fileform.errors.name %}
                                        <div class="alert alert-danger" role="alert">{{ fileform.errors.name }}</div>
                                    {% endif %}
                                    {{ fileform.name }} 
                                </div>
                                <div class="top-margin"> 
                                    <label>URL
                                        {% if fileform.url.field.required %}
                                        <span class="text-danger">*</span>
                                        {% endif %}
                                    </label>  
                                    {% if fileform.errors.url %}
                                        <div class="alert alert-danger" role="alert">{{ fileform.errors.url }}</div>
                                    {% endif %}
                                    <br>
                                    {{ fileform.url }}
                                </div>
                                <div class="top-margin"> 
                                    <label>File
                                        {% if fileform.file.field.required %}
                                        <span class="text-danger">*</span>
                                        {% endif %}
                                    </label>  
                                    {% if fileform.errors.file %}
                                        <div class="alert alert-danger" role="alert">{{ fileform.errors.file }}</div>
                                    {% endif %}
                                    <br>
                                    {{ fileform.file }}
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-3 col-lg-offset-8 text-right"> 
                                        <button class="btn btn-action" name="save" type="submit">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>                                   
                    </div>                             
                </div>                         
            </div>
        </article>
    </div>
{% endblock container %}  