{% extends "workshop/edit/base.html" %}
{% load jfutags %}
{% load static %}
{% block breadcrumb %}
    <li><a href="{% url "home" %}">Home</a></li>
    <li>{{ workshop.title }}</li>  
    <li class="active">Add picture</li>  
{% endblock breadcrumb %} 
{% block content %}    
<div class="col-md-10"> 
    <div class="panel panel-default"> 
        <div class="panel-body"> 
            <div class="row"> 
                <article class="col-xs-12 maincontent"> 
                    <h3 class="thin text-center">{{ workshop.title }} add picture</h3> 
                    <hr>                     
                    <div class="col-md-12"> 
                        {% jfu 'workshop/jfu-form.html' 'jfu_image_upload' %}                                                        
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock content %}  
