{% extends "base.html" %}
{% block container %}
    <ol class="breadcrumb"> 
        {% block breadcrumb %}
        {% endblock breadcrumb %}  
        {% if not_perm %}
            <div class="row"> 
                <div class="col-md-6 widget col-md-offset-3"> 
                    <div class="alert alert-danger" role="alert">You don't have permission to edit</div>
                </div>
            </div>
        {% endif %}               
    </ol>            
    <div class="row"> 
        <article class="col-xs-12 maincontent"> 
            <header class="page-header"> 
                <h1 class="page-title">{{ issue.title }}
                    {% if profile %}
                        <a href="{% url 'special_issue_edit_desc' id=issue.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    {% endif %}
                </h1> 
            </header> 
            <div class="col-md-2" id="leftCol">
                <ul class="nav nav-stacked" id="sidebar">
                    <li><a href='{% url 'special_issue_desc' id=issue.id %}'>Description</a></li>
                    <li><a href='{% url 'special_issue_members' id=issue.id %}'>People</a></li>
                    <li><a href='{% url 'special_issue_schedule' id=issue.id %}'>Schedule</a></li>
                    <li><a href='{% url 'special_issue_associated_events' id=issue.id %}'>Associated events</a></li>
                    {% if publications %}
                        <li><a href='{% url 'special_issue_publications' id=issue.id %}'>Publications</a></li>
                    {% endif %}
                </ul>
            </div>
            {% block content %}
            {% endblock content %}
            <div class="col-sm-3"> 
                <div class="thumbnail">
                    <h2 class="text-center top-space">News</h2>
                    <hr> 
                    <div class="caption">
                        {% if news.count > 0 %}
                            {% for n in news %}
                                <h3>{{ n.title }}</h3> 
                                <p>{{ n.description|safe }}</p>
                                <hr>  
                            {% endfor %}
                        {% else %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text-center"> There are no news registered in {{ dataset.title }}</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div> 
            </div> 

        </article>
    </div>
{% endblock container %}  