{% extends "base.html" %}
{% load staticfiles %}
{% block container %}
    {% if eventform.non_field_errors  %}
        {% for e in eventform.non_field_errors %} 
            <div class="row"> 
                <div class="col-md-6 widget col-md-offset-3"> 
                    <div class="alert alert-danger" role="alert">{{ e }}</div>
                </div>
            </div>
        {% endfor %} 
    {% endif %}
    <ol class="breadcrumb"> 
        <li> <a href="{% url "home" %}">Home</a> </li>
        <li> <a href="{% url "event_list" %}">Events list</a> </li>                 
        <li class="active"> Special Issue edit </li>                 
    </ol>            
    <div class="row"> 
        <article class="col-xs-12 maincontent"> 
            <header class="page-header"> 
                <h1 class="page-title">Special Issue edit</h1> 
            </header>                     
            <div class="col-md-10 col-md-offset-1"> 
                <div class="panel panel-default col-md-offset-1"> 
                    <div class="panel-body"> 
                        <h3 class="thin text-center">Special Issue</h3> 
                        <hr> 
                        <form method="POST" action=""> 
                        	{% csrf_token %}
                            <div class="top-margin"> 
                                <label>Title 
                                    {% if eventform.title.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>  
                                {% if eventform.errors.title %}
                                    <div class="alert alert-danger" role="alert">{{ eventform.errors.title }}</div>
                                {% endif %}
                                {{ eventform.title }} 
                            </div>                                     
                            <div class="top-margin"> 
                                <label>Description 
                                    {% if eventform.description.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>   
                                {% if eventform.errors.description %}
                                    <div class="alert alert-danger" role="alert">{{ eventform.errors.description }}</div>
                                {% endif %}
                                </div>
                                <div class="top-margin"> 
                                {{ eventform.description }} 
                            </div>  
                            <hr>
                            <h3 class="thin text-center">Members <a href="{% url "profile_select" id=issue.id %}"><img class="plus-icon" src="{% static "images/plus-icon.jpg" %}" alt="Add Member"></a></h3>
                            {% if members.count > 0 %}
                                <hr>
                                <div class="row">
                                    {% for m in members %} 
                                        <div class="col-sm-6">
                                            <a href='{% url 'profile_edit' id=m.profile.id %}'>{{ m.profile.first_name }} {{ m.profile.last_name }}</a></p>
                                        </div>
                                    {% endfor %}  
                                </div>
                            {% endif %}
                            <hr>
                            <div class="row">
                                <div class="col-lg-4 col-lg-offset-8 text-right"> 
                                    <button class="btn btn-action" type="submit" name="signup-button">Save</button>
                                </div>
                            </div>                                     
                        </form>                                 
                    </div>                             
                </div>                         
            </div>
        </article>
    </div>
{% endblock container %}  