DEBUG=0
# Proxy settings
BASE_DOMAIN=chalearnlap.aiwell.uoc.edu
#EXPOSE_ENTRYPOINT=https

# DJango configuration
DJANGO_SECRET=my_very_secret_key
ALLOWED_HOSTS=
SITE_ID=1

# Database configuration
DB_ENGINE=mysql
DB_NAME=chalearnlap
DB_HOST=localhost
DB_PORT=3306
DB_USER=chalearn
DB_PASSWORD=dbsecretpassword
DB_ROOT_PASSWORD=dbsupersecretpassword

# Email configuration
#EMAIL_HOST_USER=chalearn
#EMAIL_HOST_PASSWORD=secretpassword
#EMAIL_HOST=
#EMAIL_PORT=
#EMAIL_FROM=

# S3/MinIO configuration
#STORAGE_REGION=
#STORAGE_ACCESS_KEY=
#STORAGE_SECRET_KEY=
#STORAGE_BUCKET_NAME=
#STORAGE_URL=
#STORAGE_PUBLIC_BUCKET_NAME=

# Redis configuration
#REDIS_HOST=
#REDIS_PORT=

# Sentry configuration
#SENTRY_ENABLED=0
#SENTRY_DSN=
#SENTRY_RELEASE=
#SENTRY_SERVER_NAME=
#SENTRY_ENVIRONMENT=Production

# Prometheus gateway
#PROMETHEUS_GW=
