{% extends "base.html" %}
{% load staticfiles %}
{% block container %}
	<ol class="breadcrumb"> 
        <li>
            <a href="{% url "home" %}">Home</a>
        </li>                 
        <li class="active">Users list</li>                 
    </ol> 
    <h2 class="text-center top-space">Users</h2> 
    <br> 
    <div class="row"> 
        {% if users.count > 0 %}
            <div class="col-sm-4">
                <div class="panel panel-default"> 
                    <div class="panel-body"> 
                        <h3 class="thin text-center">All users (Without admins)</h3> 
                        <hr>
                        {% for u in users %}
                            <p><a href='{% url 'user_edit' id=u.id %}'>{{ u.username }}</a></p>
                        {% endfor %}
                    </div>
                </div>    
            </div>                          
        {% endif %}   
        {% if admins.count > 0 %}
            <div class="col-sm-4">
                <div class="panel panel-default"> 
                    <div class="panel-body">
                        <h3 class="thin text-center">Admin users</h3> 
                        <hr>
                        {% for admin in admins %}
                            <p>{{ admin.username }}</p>
                        {% endfor %} 
                    </div>
                </div>            
            </div>                 
        {% endif %}             
    </div>                         
{% endblock container %}            