{% extends "base.html" %}
{% load staticfiles %}
{% block container %}
    <div class="row"> 
        <div class="col-sm-9"> 
            <h2 class="text-center top-space">Chalearn Looking at people</h2> 
            <hr>
            <br>
            <p>Machine Learning is the science of building hardware or software that can achieve tasks by learning from examples. The examples often come as {input, output} pairs. Given new inputs a trained machine can make predictions of the unknown output.</p>
            Examples of machine learning tasks include:
            <ul>
                <li> automatic reading of handwriting </li>
                <li> assisted medical diagnosis </li>
                <li> automatic text classification (classification of web pages; spam filtering) </li>
                <li> financial predictions </li>
            </ul>
            <p>We organize challenges to stimulate research in this field. The web sites of past challenges remain open for post-challenge submission as ever-going benchmarks.</p>
        </div>                 
        <div class="col-sm-3"> 
            <div class="thumbnail">
                <h2 class="text-center top-space">News</h2>
                <hr> 
                <div class="caption">
                    {% if news.count > 0 %}
                        {% for n in news %}
                            <h3>{{ n.title }}</h3> 
                            <p>{{ n.description|safe }}</p>
                        {% endfor %}
                    {% else %}
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-center"> There are no news</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div> 
        </div> 
    </div>    
{% endblock container %}