{% extends "base.html" %}
{% load staticfiles %}
{% block container %}
	<ol class="breadcrumb"> 
        <li>
            <a href="{% url "home" %}">Home</a>
        </li>                 
        <li class="active">Users list</li>                 
    </ol> 
    <h2 class="text-center top-space">Users</h2> 
    <br> 
    <div class="row"> 
        <div class="col-sm-3 col-separator"> 
            <h3>All members</h3> 
            {% for profile in profiles %}
	            <p><a href='{{ profile.get_absolute_url }}'>{{ profile.first_name }} {{ profile.last_name }}</a></p>
            {% endfor %}
        </div>
        <div class="col-sm-3 col-separator"> 
            <h3>Admin users<br></h3> 
            {% for admin in admins %}
                <p>{{ admin.username }}</p>
            {% endfor %}
        </div>
        <div class="col-sm-3 col-separator"> 
            <h3>Organizers <a href="{% url "user-creation" id=1 %}"><img class="plus-icon" src="{% static "images/plus-icon.jpg" %}" alt="Add Organizer"></a> </h3> 
            {% for organizer in organizers %}
                <p><a href='{{ organizer.get_absolute_url }}'>{{ organizer.first_name }} {{ organizer.last_name }}</a></p>
            {% endfor %}
        </div>
        <div class="col-sm-3 col-separator"> 
            <h3>Editors <a href="{% url "user-creation" id=2 %}"><img class="plus-icon" src="{% static "images/plus-icon.jpg" %}" alt="Add Editor"></a> </h3> 
            {% for editor in editors %}
                <p><a href='{{ editor.get_absolute_url }}'>{{ editor.first_name }} {{ editor.last_name }}</a></p>
            {% endfor %}
        </div>                 
    </div>                         
{% endblock container %}            