{% extends "base.html" %}
{% block container %}
    <ol class="breadcrumb"> 
        <li>
            <a href="{% url "home" %}">Home</a>
        </li>                 
        <li class="active">User access</li>                 
    </ol>            
    <div class="row"> 
        <article class="col-xs-12 maincontent"> 
            <header class="page-header"> 
                <h1 class="page-title">Sign in / Sign up</h1> 
            </header>                     
            <div class="col-md-6"> 
                <div class="panel panel-default"> 
                    <div class="panel-body"> 
                        <h3 class="thin text-center">Sign in to your account</h3> 
                        <hr> 
                        <form method="POST" action=""> {% csrf_token %}
                            <div class="top-margin"> 
                                <label>Username 
                                    {% if signinForm.username.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>                                  
                                {{ signinForm.username }} 
                            </div>                                     
                            <div class="top-margin"> 
                                <label>Password 
                                    {% if signinForm.password.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>                               
                                {{ signinForm.password }} 
                            </div>                                     
                            <hr> 
                            <div class="row"> 
                                <div class="col-lg-8"> 
                                    <b><a href="">Forgot password?</a></b> 
                                </div>                                         
                                <div class="col-lg-4 text-right"> 
                                    <button class="btn btn-action" type="submit" name="signin-button">Sign in</button>                                             
                                </div>                                         
                            </div>                                     
                        </form>                                 
                    </div>                             
                </div>                         
            </div>
            <div class="col-md-6"> 
                <div class="panel panel-default"> 
                    <div class="panel-body"> 
                        <h3 class="thin text-center">Register a new account</h3> 
                        <hr> 
                        <form method="POST" action=""> {% csrf_token %}
                            <div class="top-margin"> 
                                <label>Username
                                    {% if signupForm.username.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>   
                                {{ form.username }}                                      
                            </div> 
                            <div class="top-margin"> 
                                <label>First Name
                                    {% if profileForm.first_name.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>   
                                {{ form.first_name }}                                      
                            </div>                                     
                            <div class="top-margin"> 
                                <label>Last Name
                                    {% if profileForm.last_name.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>
                                {{ form.last_name }} 
                            </div>                                     
                            <div class="top-margin"> 
                                <label>Email Address 
                                    {% if signupForm.email.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>
                                {{ form.email }} 
                            </div>                                     
                            <div class="row top-margin"> 
                                <div class="col-sm-6"> 
                                    <label>Password 
                                        {% if signupForm.password.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                    </label>
                                    {{ form.password }} 
                                </div>                                         
                                <div class="col-sm-6"> 
                                    <label>Confirm Password 
                                        {% if signupForm.confirm_password.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                    </label>
                                    {{ form.confirm_password }}  
                                </div>                                         
                            </div>                                     
                            <hr> 
                            <div class="top-margin"> 
                                <label>Biography
                                    {% if profileForm.bio.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>   
                                {{ form.bio }}                                      
                            </div>
                            <div class="top-margin"> 
                                <label>Affiliation name
                                    {% if affiliationForm.name.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>   
                                {{ form.name }}                                      
                            </div>
                            <div class="top-margin"> 
                                <label>Affiliation country
                                    {% if affiliationForm.country.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>   
                                {{ form.country }}                                      
                            </div>
                            <div class="top-margin"> 
                                <label>Affiliation city
                                    {% if affiliationForm.city.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>   
                                {{ form.city }}                                      
                            </div>
                            <hr> 
                            <div class="row">
                                <div class="col-lg-4 col-lg-offset-8 text-right"> 
                                    <button class="btn btn-action" type="submit" name="signup-button">Register</button>
                                </div>
                            </div>                                     
                        </form>                                 
                    </div>                             
                </div>                         
            </div>                   
        </article>                 
    </div> 
{% endblock container %}            