{% extends "base.html" %}
{% block container %}
    <ol class="breadcrumb"> 
        <li> <a href="{% url "home" %}">Home</a> </li>
        <li class="active"> Event detail </li>                 
    </ol>            
    <div class="row"> 
        <article class="col-xs-12 maincontent"> 
            <header class="page-header"> 
                <h1 class="page-title">{{ challenge.title }}</h1> 
            </header> 
            <div class="col-md-2" id="leftCol">
                <ul id="drilldown" class="nav nav-pills nav-stacked">
                    <li><a href='{% url 'challenge_desc' id=challenge.id %}'>Description</a></li>
                    <li><a href='{% url 'challenge_schedule' id=challenge.id %}'>Schedule</a></li>
                    <li><a href='{% url 'challenge_associated_events' id=challenge.id %}'>Associated events</a></li>
                    <li><a href="#" data-toggle="collapse" data-target="#drilldown-1">Tracks <b class="caret"></b></a>
                        <div style="padding-left:0px;">
                            <ul id="drilldown-1" class="nav nav-pills nav-stacked collapse">
                                {% for t in tracks %}
                                    <li><a href='{% url 'track_desc' id=challenge.id track_id=t.id%}'>{{ t.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    <li><a href='{% url 'challenge_members' id=challenge.id %}'>People</a></li>
                    <li><a href='{% url 'challenge_sponsors' id=challenge.id %}'>Sponsors</a></li>
                    <li><a href='{% url 'challenge_result' id=challenge.id %}'>Results</a></li>  
                    {% if profile %}
                        <li><a href='{% url 'challenge_edit' id=challenge.id %}'>Edit challenge</a></li>  
                    {% endif %}
                </ul>
            </div>
            {% block content %}
            {% endblock content %}
            <div class="col-sm-3"> 
                <div class="thumbnail">
                    <h2 class="text-center top-space">News</h2>
                    <hr> 
                    <div class="caption">
                        {% if news.count > 0 %}
                            {% for n in news %}
                                <h3>{{ n.title }}</h3> 
                                <p>{{ n.description|safe }}</p>
                                <hr>  
                            {% endfor %}
                        {% else %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text-center"> There are no news registered in {{ dataset.title }}</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div> 
            </div> 
        </article>
    </div>
{% endblock container %}  