{% extends "base.html" %}
{% block container %}
    <ol class="breadcrumb"> 
        <li> <a href="{% url "home" %}">Home</a> </li>
        <li class="active"> Event detail </li>                 
    </ol>            
    <div class="row"> 
        <article class="col-xs-12 maincontent"> 
            <header class="page-header"> 
                <h1 class="page-title">{{ challenge.title }}</h1> 
            </header> 
            <div class="col-md-2" id="leftCol">
                <ul class="nav nav-stacked" id="sidebar">
                    <li><a href='{% url 'challenge_info' id=challenge.id %}'>Information</a></li>
                    <li><a href='{% url 'challenge_members' id=challenge.id %}'>Members</a></li>
                    <li><a href=''>Data</a></li>
                    <li><a href='{% url 'challenge_sponsors' id=challenge.id %}'>Sponsors</a></li>
                    <li><a href='{% url 'challenge_result' id=challenge.id %}'>Results</a></li>
                </ul>
            </div>
            <div class="col-md-7"> 
                <div class="panel panel-default"> 
                    <div class="panel-body"> 
                        <h3 class="thin text-center">Challenge description</h3> 
                        <hr> 
                        {{ challenge.description|safe }}
                    </div>                             
                </div>                         
            </div>
            <div class="col-sm-3"> 
            <div class="thumbnail">
                <h2 class="text-center top-space">News</h2> 
                <div class="caption">
                    {% for n in news %}
                        <h3>{{ n.title }}</h3> 
                        <p>{{ n.description|safe }}</p>
                    {% endfor %}
                </div>
            </div> 
        </div> 
        </article>
    </div>
{% endblock container %}  