{% extends "challenge/base.html" %}
{% block breadcrumb %}
    <li><a href="{% url "home" %}">Home</a></li>
    <li>{{ challenge.title }}</li>  
    <li class="active">Associated events</li>  
{% endblock breadcrumb %} 
{% block content %}
    <div class="col-md-7"> 
        <div class="panel panel-default"> 
            <div class="panel-body"> 
                <h3 class="thin text-center">Challenge associated events</h3> 
                <hr> 
                {% if relations.count > 0 %}
                    <div class="row">
                        {% for r in relations %} 
                            <div class="top-margin"> 
                                <div class="col-sm-12">
                                    {% if r.challenge_relation %} 
                                        <h4><a href="{{ r.challenge_relation.get_absolute_url }}">{{ r.challenge_relation.title }}</a></h4>
                                    {% elif r.issue_relation %} 
                                        <h4><a href="{{ r.issue_relation.get_absolute_url }}">{{ r.issue_relation.title }}</a></h4>
                                    {% elif r.workshop_relation %}
                                        <h4><a href="{{ r.workshop_relation.get_absolute_url }}">{{ r.workshop_relation.title }}</a></h4>
                                    {% elif r.dataset_relation %}
                                        <h4><a href="{{ r.dataset_relation.get_absolute_url }}">{{ r.dataset_relation.title }}</a></h4>
                                    {% endif %}
                                    <p>{{ r.description|safe }}</p>
                                    <br>
                                </div>
                            </div>
                        {% endfor %}  
                    </div>
                {% elif associated.count > 0 %}
                    <div class="row">
                        {% for a in associated %} 
                            <div class="top-margin"> 
                                <div class="col-sm-12">
                                    {% if a.event_associated %} 
                                        <h4><a href="{{ a.event_associated.get_absolute_url }}">{{ a.event_associated.title }}</a></h4>
                                    {% elif a.dataset_associated %} 
                                        <h4><a href="{{ a.dataset_associated.get_absolute_url }}">{{ a.dataset_associated.title }}</a></h4>
                                    {% endif %}
                                    <p>{{ a.description|safe }}</p>
                                    <br>
                                </div>
                            </div>
                        {% endfor %}  
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-sm-12"> 
                            <p class="text-center">There are no associated events in {{ challenge.title }}</p>
                        </div>  
                    </div>
                {% endif %}
            </div>                             
        </div>                         
    </div>
{% endblock content %}  