{% extends "data/edit/base.html" %}
{% block breadcrumb %}
    <li><a href="{% url "home" %}">Home</a></li>
    <li><a href="{% url "dataset_edit_datas" id=dataset.id %}">{{ dataset.title }} (Edit mode)</a></li>
    <li>{{ data.title }}</li>
    <li class="active">Description</li>  
{% endblock breadcrumb %} 
{% block content %}
    <div class="col-md-10"> 
        <form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}              
            <div class="panel panel-default"> 
                <div class="panel-body"> 
                    <div class="row">
                        <div class="col-sm-12"> 
                            <h3 class="thin text-center">File's assigned &ensp;<a href="{% url "file_creation" id=data.id dataset_id=dataset.id %}"><i class="fa fa-plus-circle" aria-hidden="true"></i></a> </h3> 
                            <hr>
                            {% if files.count > 0 %}
                                <div class="panel panel-default"> 
                                    <div class="panel-body"> 
                                        <div class="row">
                                            {% for f in files %} 
                                                <div class="col-sm-12">
                                                    <div class="top-margin"> 
                                                        {% if f.file %}
                                                            {% if f.name %}
                                                                <div class="top-margin"> 
                                                                    <a href='{{ f.file.url }}'>{{ f.name }}</a>                                                                    
                                                                    &ensp;<a id="{{ f.id }}" class="delete-event" value="{% url "file_remove" id=data.id file_id=f.id dataset_id=dataset.id %}" href=""><i class="fa fa-minus-circle" aria-hidden="true"></i></a> </p>
                                                                </div>
                                                            {% else %}
                                                                <div class="top-margin"> 
                                                                    <p><a href='{{ f.file.url }}'>{{ f.filename }}</a>                                                               
                                                                    &ensp;<a id="{{ f.id }}" class="delete-event" value="{% url "file_remove" id=data.id file_id=f.id dataset_id=dataset.id %}" href=""><i class="fa fa-minus-circle" aria-hidden="true"></i></a> </p>
                                                                </div>
                                                            {% endif %}
                                                        {% else %}
                                                            {% if f.name %}
                                                                <div class="top-margin"> 
                                                                    <a href='{{ f.url }}'>{{ f.name }}</a>                                                                    
                                                                    &ensp;<a id="{{ f.id }}" class="delete-event" value="{% url "file_remove" id=data.id file_id=f.id dataset_id=dataset.id %}" href=""><i class="fa fa-minus-circle" aria-hidden="true"></i></a> </p>
                                                                </div>
                                                            {% else %}
                                                                <div class="top-margin"> 
                                                                    <p><a href='{{ f.url }}'>{{ f.url }}</a>                                                               
                                                                    &ensp;<a id="{{ f.id }}" class="delete-event" value="{% url "file_remove" id=data.id file_id=f.id dataset_id=dataset.id %}" href=""><i class="fa fa-minus-circle" aria-hidden="true"></i></a> </p>
                                                                </div>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endfor %} 
                                        </div> 
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="text-center"> There are no files registered in {{ data.title }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div> 
                </div>
            </div>  
        </form>                           
    </div>                         
{% endblock content %} 