{% extends "base.html" %}
{% load staticfiles %}
{% block container %}
    {% if selectform.non_field_errors  %}
        {% for e in selectform.non_field_errors %} 
            <div class="row"> 
                <div class="col-md-6 widget col-md-offset-3"> 
                    <div class="alert alert-danger" role="alert">{{ e }}</div>
                </div>
            </div>
        {% endfor %} 
    {% endif %}
    <ol class="breadcrumb"> 
        <li> <a href="{% url "home" %}">Home</a> </li>
        <li> <a href="{% url "event_list" %}">Events list</a> </li>                 
        <li class="active"> Select speakers </li>                 
    </ol>           
    <div class="row"> 
        <article class="col-xs-12 maincontent"> 
            <header class="page-header"> 
                <h1 class="page-title">Select speakers</h1> 
            </header>                     
            <div class="col-md-6 col-md-offset-3"> 
                <div class="panel panel-default"> 
                    <div class="panel-body"> 
                        <h3 class="thin text-center">Select speakers</h3> 
                        <hr> 
                        <form method="POST" action=""> {% csrf_token %} 
                            <div class="top-margin"> 
                                <label>Role selection</label>
                                <div class="row">
                                    <div class="col-md-6"> 
                                        {{ selectRoleForm.role_select }} 
                                    </div>
                                    <div class="col-md-6"> 
                                        <a class="btn btn-action" href="{% url "role_creation" %}">Create Role</a>
                                    </div>
                                </div>
                            </div>
                            <div class="top-margin"> 
                                <label>Name
                                    {% if selectform.email.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>
                                {% if selectform.errors.email %}
                                    <div class="alert alert-danger" role="alert">{{ selectform.errors.email }}</div>
                                {% endif %}
                                {{ selectform.email }}                                      
                            </div>                                     
                            <hr> 
                            <div class="row">
                                <div class="col-lg-4 col-lg-offset-3 text-right"> 
                                    <a class="btn btn-action" href="{% url "speaker_creation" id=workshop.id %}">Create new speaker</a>
                                </div>
                                <div class="col-lg-4 col-lg-offset-1 text-right"> 
                                    <button class="btn btn-action" type="submit">Save</button>
                                </div>
                            </div>                                     
                        </form>                                 
                    </div>                             
                </div>                         
            </div>                   
        </article>                 
    </div> 
{% endblock container %}            