{% extends "base.html" %}
{% load i18n %}

{% block container %}
    {% if form.non_field_errors  %}
        {% for e in form.non_field_errors %} 
            <div class="row"> 
                <div class="col-md-6 widget col-md-offset-3"> 
                    <div class="alert alert-danger" role="alert">{{ e|escape }}</div>
                </div>
            </div>
        {% endfor %} 
    {% endif %}
    <ol class="breadcrumb"> 
        <li>
            <a href="{% url "home" %}">Home</a>
        </li>                 
        <li class="active">User access</li>                 
    </ol>    
    <br>        
    <div class="row"> 
        <article class="col-xs-12 maincontent">                   
            <div class="col-md-6"> 
                <div class="panel panel-default"> 
                    <div class="panel-body"> 
                        <h3 class="thin text-center">Change your password</h3> 
                        <hr> 
                        <form method="POST" action=""> 
                        	{% csrf_token %}
                            <div class="top-margin"> 
                                <label>Old password 
                                    {% if form.old_password.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>       
                                {% if form.errors.old_password %}
                                    <div class="alert alert-danger" role="alert">{{ form.errors.old_password }}</div>
                                {% endif %}    
                                {{ form.old_password }} 
                            </div>                                     
                            <div class="top-margin"> 
                                <label>New password 
                                    {% if form.new_password1.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>   
                                {% if form.errors.new_password1 %}
                                    <div class="alert alert-danger" role="alert">{{ form.errors.new_password1 }}</div>
                                {% endif %}
                                {{ form.new_password1 }} 
                            </div>  
                            <div class="top-margin"> 
                                <label>New password confirmation
                                    {% if form.new_password2.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>  
                                {% if form.errors.new_password2 %}
                                    <div class="alert alert-danger" role="alert">{{ form.errors.new_password2 }}</div>
                                {% endif %} 
                                {{ form.new_password2 }} 
                            </div>    
                            <hr>                               
                            <div class="row">
                                <div class="col-lg-4 col-lg-offset-8 text-right"> 
                                    <button class="btn btn-action" type="submit" name="signin-button">Save</button>
                                </div>
                            </div>                                    
                        </form>                                 
                    </div>                             
                </div>                         
            </div>
        </article>
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}
