{% extends "base.html" %}
{% load i18n %}

{% block container %}
    <ol class="breadcrumb"> 
        <li>
            <a href="{% url "home" %}">Home</a>
        </li>                 
        <li class="active">User access</li>                 
    </ol>            
    <div class="row"> 
        <article class="col-xs-12 maincontent"> 
            <header class="page-header"> 
                <h1 class="page-title">Sign up</h1> 
            </header>                     
            <div class="col-md-6"> 
                <div class="panel panel-default"> 
                    <div class="panel-body"> 
                        <h3 class="thin text-center">Register a new account</h3> 
                        <hr> 
                        <form method="POST" action=""> {% csrf_token %}
                            <div class="top-margin"> 
                                <label>Username
                                    {% if form.username.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>   
                                {% if form.errors.username %}
                                    <div class="alert alert-danger" role="alert">{{ form.errors.username }}</div>
                                {% endif %}
                                {{ form.username }}                                      
                            </div> 
                            <div class="top-margin"> 
                                <label>First Name
                                    {% if form.first_name.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>   
                                {% if form.errors.first_name %}
                                    <div class="alert alert-danger" role="alert">{{ form.errors.first_name }}</div>
                                {% endif %}
                                {{ form.first_name }}                                      
                            </div>                                     
                            <div class="top-margin"> 
                                <label>Last Name
                                    {% if form.last_name.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>
                                {% if form.errors.last_name %}
                                    <div class="alert alert-danger" role="alert">{{ form.errors.last_name }}</div>
                                {% endif %}
                                {{ form.last_name }} 
                            </div>                                     
                            <div class="top-margin"> 
                                <label>Email Address 
                                    {% if form.email.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>
                                {% if form.errors.email %}
                                    <div class="alert alert-danger" role="alert">{{ form.errors.email }}</div>
                                {% endif %}
                                {{ form.email }} 
                            </div>                                     
                            <div class="row top-margin"> 
                                {% if form.errors.password2 %}
                                    <div class="alert alert-danger" role="alert">{{ form.errors.password2 }}</div>
                                {% endif %} 
                                <div class="col-sm-6"> 
                                    <label>Password 
                                        {% if form.password1.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                    </label>
                                    {{ form.password1 }} 
                                </div>  

                                <div class="col-sm-6"> 
                                    <label>Confirm Password 
                                        {% if form.password2.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                    </label>
                                    {{ form.password2 }}  
                                </div>                                         
                            </div>                                     
                            <hr> 
                            <div class="top-margin"> 
                                <label>Avatar
                                    {% if form.avatar.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>   
                                {% if form.errors.avatar %}
                                    <div class="alert alert-danger" role="alert">{{ form.errors.avatar }}</div>
                                {% endif %}
                                {{ form.avatar }}                                      
                            </div>
                            <div class="top-margin"> 
                                <label>Biography
                                    {% if form.bio.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>   
                                {% if form.errors.bio %}
                                    <div class="alert alert-danger" role="alert">{{ form.errors.bio }}</div>
                                {% endif %}
                                {{ form.bio }}                                      
                            </div>
                            <div class="top-margin"> 
                                <label>Affiliation name
                                    {% if form.name.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>   
                                {% if form.errors.name %}
                                    <div class="alert alert-danger" role="alert">{{ form.errors.name }}</div>
                                {% endif %}
                                {{ form.name }}                                      
                            </div>
                            <div class="top-margin"> 
                                <label>Affiliation country
                                    {% if form.country.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>   
                                {% if form.errors.country %}
                                    <div class="alert alert-danger" role="alert">{{ form.errors.country }}</div>
                                {% endif %}
                                {{ form.country }}                                      
                            </div>
                            <div class="top-margin"> 
                                <label>Affiliation city
                                    {% if form.city.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>   
                                {% if form.errors.city %}
                                    <div class="alert alert-danger" role="alert">{{ form.errors.city }}</div>
                                {% endif %}
                                {{ form.city }}                                      
                            </div>
                            <hr> 
                            <div class="row">
                                <div class="col-lg-4 col-lg-offset-8 text-right"> 
                                    <button class="btn btn-action" type="submit" name="signup-button">Register</button>
                                </div>
                            </div>                                     
                        </form>                                 
                    </div>                             
                </div>                         
            </div>                   
        </article>                 
    </div> 
{% endblock container %} 