{% extends "base.html" %}
{% load i18n %}

{% block container %}
    {% if form.non_field_errors  %}
        {% for e in form.non_field_errors %} 
            <div class="row"> 
                <div class="col-md-6 widget col-md-offset-3"> 
                    <div class="alert alert-danger" role="alert">{{ e|escape }}</div>
                </div>
            </div>
        {% endfor %} 
    {% endif %}
    <ol class="breadcrumb"> 
        <li>
            <a href="{% url "home" %}">Home</a>
        </li>                 
        <li class="active">User access</li>                 
    </ol>            
    <div class="row"> 
        <article class="col-xs-12 maincontent"> 
            <header class="page-header"> 
                <h1 class="page-title">Register new member</h1> 
            </header>                     
            <form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-default"> 
                        <div class="panel-body"> 
                            <h3 class="thin text-center">New user</h3> 
                            <hr> 
                            <input type="hidden" id="id_username" name="username" value="{{ form.username.value }}" />
                            <div class="top-margin"> 
                                <label>Email Address 
                                    {% if form.email.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>
                                {% if form.errors.email %}
                                    <div class="alert alert-danger" role="alert">{{ form.errors.email }}</div>
                                {% endif %}
                                {{ form.email }} 
                            </div>  
                            <input type="hidden" id="id_first_name" name="first_name" value="{{ form.first_name.value }}"/>
                            <input type="hidden" id="id_last_name" name="last_name" value="{{ form.last_name.value }}"/>
                            <input type="hidden" id="id_password1" name="password1" value="{{ form.password1.value }}"/>
                            <input type="hidden" id="id_password2" name="password2" value="{{ form.password2.value }}"/>
                            <hr> 
                            <div class="row">
                                <div class="col-lg-4 col-lg-offset-8 text-right"> 
                                    <button class="btn btn-action" type="submit" name="signup-button">Register</button>
                                </div>
                            </div>  
                        </div>
                    </div>                         
                </div>                                  
            </form>                                 
        </article>                 
    </div> 
{% endblock container %} 