{% extends "base.html" %}
{% block container %}
    <ol class="breadcrumb"> 
        {% block breadcrumb %}
        {% endblock breadcrumb %}  
        {% if not_perm %}
            <div class="row"> 
                <div class="col-md-6 widget col-md-offset-3"> 
                    <div class="alert alert-danger" role="alert">You don't have permission to edit</div>
                </div>
            </div>
        {% endif %}          
    </ol>            
    <div class="row"> 
        <article class="col-xs-12 maincontent"> 
            <header class="page-header"> 
                <h1 class="page-title">{{ challenge.title }}
                    {% if profile %}
                        <a href="{% url 'challenge_edit_desc' id=challenge.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    {% endif %}
                </h1> 
            </header> 
            <div class="col-md-2" id="leftCol">
                <ul id="drilldown" class="nav nav-pills nav-stacked">
                    <li><a href='{% url 'challenge_desc' id=challenge.id %}'>Description</a></li>
                    <li><a href='{% url 'challenge_schedule' id=challenge.id %}'>Schedule</a></li>
                    <li><a href='{% url 'challenge_associated_events' id=challenge.id %}'>Associated events</a></li>
                    {% if tracks %}
                        <li><a href="#" data-toggle="collapse" data-target="#drilldown-1">Tracks <b class="caret"></b></a>
                            <div style="padding-left:0px;">
                                <ul id="drilldown-1" class="nav nav-pills nav-stacked collapse">
                                    {% for t in tracks %}
                                        <li><a href='{% url 'track_desc' id=challenge.id track_id=t.id%}'>{{ t.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                    {% if roles %}
                        <li><a href="#" data-toggle="collapse" data-target="#drilldown-2">People <b class="caret"></b></a>
                            <div style="padding-left:0px;">
                                <ul id="drilldown-2" class="nav nav-pills nav-stacked collapse">
                                    {% for r in roles %}
                                        <li><a href='{% url 'challenge_members' id=challenge.id role_id=r.id %}'>{{ r.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                    {% if sponsors %}
                        <li><a href='{% url 'challenge_sponsors' id=challenge.id %}'>Sponsors</a></li>
                    {% endif %}
                    {% if publications %}
                        <li><a href='{% url 'challenge_publications' id=challenge.id %}'>Publications</a></li>  
                    {% endif %}
                </ul>
            </div>
            {% block content %}
            {% endblock content %}
            <div class="col-sm-2"> 
                <div class="thumbnail">
                    <h2 class="text-center top-space">News</h2>
                    <hr> 
                    <div class="caption">
                        {% if news.count > 0 %}
                            {% for n in news %}
                                <h3>{{ n.title }}</h3> 
                                <p>{{ n.description|safe }}</p>
                                <hr>  
                            {% endfor %}
                        {% else %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text-center"> There are no news registered in {{ dataset.title }}</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div> 
            </div> 
        </article>
    </div>
{% endblock container %}  