{% extends "base.html" %}
{% load static %}
{% block container %}
    <div class="row"> 
        <div class="col-sm-12"> 
            <header class="page-header"> 
                <h1 class="page-title">Help
                {% if profile %}
                    &ensp;<a href="{% url "help_edit" %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                {% endif %}
                </h1>
            </header>
            {{ help.help_text | safe }} 
        </div>                
    </div>    
{% endblock container %}
