{% extends "base.html" %}
{% load staticfiles %}
{% block container %}
    {% if scheduleform.non_field_errors  %}
        {% for e in scheduleform.non_field_errors %} 
            <div class="row"> 
                <div class="col-md-6 widget col-md-offset-3"> 
                    <div class="alert alert-danger" role="alert">{{ e }}</div>
                </div>
            </div>
        {% endfor %} 
    {% endif %}
    {{ scheduleform.media }}
    <ol class="breadcrumb"> 
        <li> <a href="{% url "home" %}">Home</a> </li>
        {% if event %}
            <li><a href="{% url "event_edit" id=event.id%}">{{ event.title }} (Edit mode)</a></li> 
        {% elif workshop %}
            <li><a href="{% url "workshop_edit_desc" id=workshop.id%}">{{ workshop.title }} (Edit mode)</a></li> 
        {% elif dataset %}
            <li><a href="{% url "dataset_edit_desc" id=dataset.id%}">{{ dataset.title }} (Edit mode)</a></li>
        {% endif %}                    
        <li class="active">Schedule event edit </li>                 
    </ol>           
    <div class="row"> 
        <article class="col-xs-12 maincontent"> 
            <header class="page-header"> 
                <h1 class="page-title">Schedule event edit</h1> 
            </header>  
            <form method="POST" action=""> {% csrf_token %}              
                <div class="panel panel-default"> 
                    <div class="panel-body"> 
                        <h3 class="thin text-center">Schedule event</h3> 
                        <hr> 
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="top-margin"> 
                                    <label>Title
                                        {% if scheduleform.title.field.required %}
                                        <span class="text-danger">*</span>
                                        {% endif %}
                                    </label>   
                                    {% if scheduleform.errors.title %}
                                        <div class="alert alert-danger" role="alert">{{ scheduleform.errors.title }}</div>
                                    {% endif %}
                                    {{ scheduleform.title }}                                      
                                </div>
                                <div class="top-margin"> 
                                    <label>Date and time
                                        {% if scheduleform.time.field.required %}
                                        <span class="text-danger">*</span>
                                        {% endif %}
                                    </label>   
                                    {% if scheduleform.errors.time %}
                                        <div class="alert alert-danger" role="alert">{{ scheduleform.errors.time }}</div>
                                    {% endif %}
                                    {{ scheduleform.time }}     
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="top-margin"> 
                                            <label>Description
                                                {% if scheduleform.description.field.required %}
                                                <span class="text-danger">*</span>
                                                {% endif %}
                                            </label>   
                                            {% if scheduleform.errors.description %}
                                                <div class="alert alert-danger" role="alert">{{ scheduleform.errors.description }}</div>
                                            {% endif %}
                                            {{ scheduleform.description }}                                      
                                        </div> 
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-8 text-right"> 
                                    <button class="btn btn-action" type="submit" name="signup-button">Save</button>
                            </div>
                        </div>  
                    </div>                                   
                </div> 
            </form>                             
        </article>
    </div>
{% endblock container %}  