{% extends "base.html" %}
{% load static %}
{% block container %}
    <ol class="breadcrumb"> 
        <li> <a href="{% url "home" %}">Home</a> </li>
        <li> <a href="{% url "publication_list" %}">Publications list</a> </li>                 
        <li class="active"> Publication </li>                 
    </ol>             
    <div class="row"> 
        <article class="col-xs-12 maincontent"> 
            <header class="page-header"> 
                <h1 class="page-title">Publication</h1> 
            </header>  
            <div class="row">
                <div class="col-md-10 col-md-offset-1"> 
                    <div class="panel panel-default"> 
                        <div class="panel-body">
                            {% if publication.title %}
                                <div class="top-margin"> 
                                    <label>Title: </label>  
                                    <p>{{ publication.title }}</p>
                                </div>  
                            {% endif %}                            
                            <div class="top-margin"> 
                                <label>Content: </label>   
                                <p>{{ publication.content|safe }}</p>  
                            </div> 
                            {% if publi_datasets %}
                                <div class="top-margin"> 
                                    <label>Datasets associated: </label>   
                                    {% for d in publi_datasets %}
                                        <a href="{% url "dataset_desc" id=d.dataset.id %}">{{ d.dataset.title }}</a>  
                                    {% endfor %}
                                </div> 
                            {% endif %}
                            {% if publi_events %}
                                <div class="top-margin"> 
                                    <label>Events associated: </label>
                                    {% for e in publi_events %}
                                        <a href="{% url "event_detail" id=e.event.id %}">{{ e.event.title }}</a>
                                    {% endfor %}  
                                </div> 
                            {% endif %}
                        </div>
                    </div>
                </div>                             
            </div>  
        </article>
    </div>
{% endblock container %}  
