@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

/* Header */

#head
{
    background: #181015 url( ../images/bg_header.jpg) no-repeat;
    background-size: cover;
    min-height: 520px;
    text-align: center;
    padding-top: 240px;
    color: white;
    font-family: "Open sans", Helvetica, Arial;
    font-weight: 300;
}

#head.secondary
{
    height: 100px;
    min-height: 100px;
    padding-top: 0px;
}

#head .lead
{
    font-family: "Open sans", Helvetica, Arial;
    font-size: 44px;
    margin-bottom: 6px;
    color: white;
    line-height: 1.15em;
}

#head .tagline
{
    color: rgba(255,255,255,0.75);
    margin-bottom: 25px;
}

#head .tagline a
{
    color: #fff;
}

#head .btn
{
    margin-bottom: 10px;
}

#head .btn-default { text-shadow: none; background:transparent; color:rgba(255,255,255,.5); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); background: transparent; }

#head .btn-default:hover,
		#head .btn-default:focus
{
    color: rgba(255,255,255,.8);
    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.8);
    -moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.8);
    box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.8);
    background: transparent;
}

#head .btn-default:active, 
		#head .btn-default.active
{
    color: #fff;
    -webkit-box-shadow: inset 0px 0px 0px 3px #fff;
    -moz-box-shadow: inset 0px 0px 0px 3px #fff;
    box-shadow: inset 0px 0px 0px 3px #fff;
    background: transparent;
}

@media (max-width: 767px)
{
    #head
    {
        min-height: 420px;
        padding-top: 160px;
    }
    #head .lead
    {
        font-size: 34px;
    }
}

/* Autohide navbar */

.slideUp
{
    top: -100px;
}

.headroom
{
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    padding-bottom: 30px;
}

/* Highlights (in jumbotron in most cases) */

.highlight
{
    margin-top: 40px;
}

.h-caption
{
    text-align: center;
}

.h-caption i
{
    display: block;
    font-size: 54px;
    color: #382526;
    margin-bottom: 36px;
}

.h-caption h4
{
    color: #382526;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.h-body
{
}

/* Typography */

h1, h2, h3, h4, h5, h6
{
    font-family: "Open sans", Helvetica, Arial;
}

h1, .h1, h2, .h2, h3, .h3
{
    margin-top: 30px;
}

blockquote
{
    font-style: italic;
    font-family: Georgia;
    color: #999;
    margin: 30px 0 30px;
}

label
{
    color: #777;
}

.thin
{
    font-weight: 300;
}

.page-title
{
    margin-top: 20px;
    font-weight: 300;
}

.text-muted
{
    color: #888;
}

.breadcrumb
{
    background: none;
    padding: 0;
    margin: 30px 0 0px 0;
}

ul.list-spaces li
{
    margin-bottom: 10px;
}

/* Helpers */

.container-full
{
    margin: 0 auto;
    width: 100%;
}

.top-space
{
}

.top-margin
{
    margin-top: 20px;
}

.all-margin
{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

img
{
    max-width: 100%;
}

img.pull-right
{
    margin-left: 10px;
}

img.pull-left
{
    margin-right: 10px;
}

#map
{
    width: 100%;
    height: 280px;
}

#social
{
    margin-top: 50px;
    margin-bottom: 50px;
}

#social .wrapper
{
    width: 340px;
    margin: 0 auto;
}

/* Main content block */

.maincontent
{
}

/* Sidebars */

.sidebar
{
    padding-top: 36px;
    padding-bottom: 30px;
}

.sidebar .widget
{
    margin-bottom: 20px;
}

.sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3
{
    margin-top: 20px;
}

/* Footer */

.footer1
{
    background: #232323;
    padding: 30px 0 0 0;
    font-size: 12px;
    color: #999;
}

.footer1 a
{
    color: #ccc;
}

.footer1 a:hover
{
    color: #fff;
}

.footer1 .widget
{
    margin-bottom: 30px;
}

.footer1 .widget-title
{
    font-size: 17px;
    font-weight: bold;
    color: #ccc;
    margin: 0 0 20px;
}

.footer1 .entry-meta { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }

.footer1 .entry-meta a
{
    color: #333333;
}

.footer1 .entry-meta .meta-in
{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.follow-me-icons
{
    font-size: 30px;
}

.follow-me-icons i
{
    float: left;
    margin: 0 10px 0 0;
}

.footer2
{
    background: #191919;
    padding: 15px 0;
    color: #777;
    font-size: 12px;
}

.footer2 a
{
    color: #aaa;
}

.footer2 a:hover
{
    color: #fff;
}

.footer2 p
{
    margin: 0;
    margin-right: 30px;
}

.widget-simplenav
{
    margin-left: -5px;
}

.widget-simplenav a
{
    margin: 0 5px;
}

.content
{
    margin-top: 30px;
    margin-bottom: 30px;
}


.input-search
{
    width: 120px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 2px;
}

.btn-search
{
}

.header-container
{
}

.btn-header-margin
{
    margin-top: 12px;
}

.div-header
{
    margin-top: 12px;
}

.col-separator:not(:last-child)
{
    border-right: 1px solid #ccc;
}

.dropdown-submenu
{
    position: relative;
}

.dropdown-submenu>.dropdown-menu
{
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

.dropdown-submenu:hover>.dropdown-menu
{
    display: block;
}

.dropdown-submenu>a:after
{
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu.pull-left
{
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu
{
    left: -100%;
    margin-left: 10px;
}

.plus-icon
{
    width: 30px;
    height: 30px;
}

#partner-logo
{
    max-width: 150px;
    max-width: 150px;
    /*width: auto;
    height: auto;*/
}

#header-icon
{
    max-width: 160px;
    height: auto;
}

#input-addmembers
{
    width: 100%;
    min-width: 50px;
}

.navbar-bright {
 background-color:#111155;
 color:#fff;
}

.affix-top,.affix{
 position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top:30px;
    width:228px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

#sidebar li.active {
  border:0 #eee solid;
  border-right-width:5px;
}

/*** Result table Styles **/

div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:18px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
/*tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:15px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 */
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:15px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

#container-height
{
  min-height: 600px;
}

.img-center
{
  margin: 0 auto;
}

.thumbnail-gallery
{
  height: 200px;
}

.sponsor-cell
{
  height: 250px;
}

.cont-header
{
  max-width: 1200px;
}

.link-disabled
{
  pointer-events: none;
  cursor: default;
}