{% extends "base.html" %}
{% block container %}
    {% if dataform.non_field_errors  %}
        {% for e in dataform.non_field_errors %} 
            <div class="row"> 
                <div class="col-md-6 widget col-md-offset-3"> 
                    <div class="alert alert-danger" role="alert">{{ e }}</div>
                </div>
            </div>
        {% endfor %} 
    {% endif %}
    {% if fileform.non_field_errors  %}
        {% for e in fileform.non_field_errors %} 
            <div class="row"> 
                <div class="col-md-6 widget col-md-offset-3"> 
                    <div class="alert alert-danger" role="alert">{{ e }}</div>
                </div>
            </div>
        {% endfor %} 
    {% endif %}
    <ol class="breadcrumb"> 
        <li> <a href="{% url "home" %}">Home</a> </li>
        <li> <a href="{% url "dataset_edit" id=dataset_id%}">Dataset edit</a> </li>                 
        <li class="active"> Data creation </li>                 
    </ol>            
    <div class="row"> 
        <article class="col-xs-12 maincontent"> 
            <header class="page-header"> 
                <h1 class="page-title">Data creation</h1> 
            </header>                     
            <div class="col-md-6"> 
                <div class="panel panel-default"> 
                    <div class="panel-body"> 
                        <form method="POST" action="" enctype="multipart/form-data"> 
                        	{% csrf_token %}
	                        <h3 class="thin text-center">Data</h3> 
						    <div class="item">
							    <hr> 
							    <div class="top-margin"> 
	                                <label>Title 
	                                    {% if dataform.data_title.field.required %}
	                                    <span class="text-danger">*</span>
	                                    {% endif %}
	                                </label>  
	                                {% if dataform.errors.data_title %}
	                                    <div class="alert alert-danger" role="alert">{{ dataform.errors.data_title }}</div>
	                                {% endif %}
	                                {{ dataform.data_title }} 
	                            </div>
	                            <div class="top-margin"> 
	                                <label>File 
	                                    {% if fileform.file.field.required %}
	                                    <span class="text-danger">*</span>
	                                    {% endif %}
	                                </label>  
	                                {% if fileform.errors.file %}
	                                    <div class="alert alert-danger" role="alert">{{ fileform.errors.file }}</div>
	                                {% endif %}
	                                {{ fileform.file }} 
	                            </div>
						    </div>
                            <hr> 
                            <div class="row">
                                <div class="col-lg-4 col-lg-offset-8 text-right"> 
                                    <button class="btn btn-action" type="submit" name="signup-button">Save</button>
                                </div>
                            </div>                                     
                        </form>                                 
                    </div>                             
                </div>                         
            </div>
        </article>
    </div>
{% endblock container %}  