{% extends "base.html" %}
{% block container %}
    {% if dataform.non_field_errors  %}
        {% for e in dataform.non_field_errors %} 
            <div class="row"> 
                <div class="col-md-6 widget col-md-offset-3"> 
                    <div class="alert alert-danger" role="alert">{{ e }}</div>
                </div>
            </div>
        {% endfor %} 
    {% endif %}
    {% if fileform.non_field_errors  %}
        {% for e in fileform.non_field_errors %} 
            <div class="row"> 
                <div class="col-md-6 widget col-md-offset-3"> 
                    <div class="alert alert-danger" role="alert">{{ e }}</div>
                </div>
            </div>
        {% endfor %} 
    {% endif %}
    <ol class="breadcrumb"> 
        <li> <a href="{% url "home" %}">Home</a> </li>
        <li> <a href="{% url "dataset_edit" id=dataset_id%}">Dataset edit</a> </li>                 
        <li class="active"> Data creation </li>                 
    </ol>            
    <div class="row"> 
        <article class="col-xs-12 maincontent"> 
            <header class="page-header"> 
                <h1 class="page-title">Data creation</h1> 
            </header>    
            <form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}            
                <div class="panel panel-default"> 
                    <div class="panel-body"> 
                        <div class="row">
                            <div class="col-md-7"> 
                                <h3 class="thin text-center">Data information</h3> 
                                <hr> 
    						    <div class="top-margin"> 
                                    <label>Title 
                                        {% if dataform.data_title.field.required %}
                                        <span class="text-danger">*</span>
                                        {% endif %}
                                    </label>  
                                    {% if dataform.errors.data_title %}
                                        <div class="alert alert-danger" role="alert">{{ dataform.errors.data_title }}</div>
                                    {% endif %}
                                    {{ dataform.data_title }} 
                                </div>
                                <div class="top-margin"> 
                                    <label>Description 
                                        {% if dataform.data_desc.field.required %}
                                        <span class="text-danger">*</span>
                                        {% endif %}
                                    </label>  
                                    {% if dataform.errors.data_desc %}
                                        <div class="alert alert-danger" role="alert">{{ dataform.errors.data_desc }}</div>
                                    {% endif %}
                                    {{ dataform.data_desc }} 
                                </div>
                            </div>
                            <div class="col-md-5">
                                <h3 class="thin text-center">Data file</h3> 
                                <hr> 
                                <div class="top-margin"> 
                                    <label>Name
                                        {% if fileform.name.field.required %}
                                        <span class="text-danger">*</span>
                                        {% endif %}
                                    </label>  
                                    {% if fileform.errors.name %}
                                        <div class="alert alert-danger" role="alert">{{ fileform.errors.name }}</div>
                                    {% endif %}
                                    {{ fileform.name }}
                                </div>
                                <div class="top-margin"> 
                                    <label>File or URL
                                        {% if fileform.file.field.required %}
                                        <span class="text-danger">*</span>
                                        {% endif %}
                                    </label>  
                                    {% if fileform.errors.file %}
                                        <div class="alert alert-danger" role="alert">{{ fileform.errors.file }}</div>
                                    {% endif %}
                                    {{ fileform.file }} 
                                    <br>
                                    {{ fileform.url }}
                                </div>
                            </div>
                        </div>
                        <hr> 
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-8 text-right"> 
                                <button class="btn btn-action" type="submit" name="signup-button">Save</button>
                            </div>
                        </div>                                     
                        </div>                             
                    </div>                         
                </div>
            </form>                                 
        </article>
    </div>
{% endblock container %}  