{% extends "data/base.html" %}
{% block breadcrumb %}
    <li><a href="{% url "home" %}">Home</a></li>
    <li><a href="{% url "dataset_desc" id=dataset.id %}">{{ dataset.title }}</a></li>  
    <li>{{ data.title }}</li>  
    <li class="active">Software and tools</li>  
{% endblock breadcrumb %} 
{% block content %}
    <div class="col-md-8"> 
        <div class="panel panel-default"> 
            <div class="panel-body"> 
                <h3 class="thin text-center">Software and tools</h3> 
                <hr> 
                {% if data.software %} 
                	<div class="row">
                        <div class="col-sm-12"> 
                            {{ data.software|safe }}
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-sm-12"> 
                            <p class="text-center"> There are no software and tools in this data.</p>
                        </div>  
                    </div>
                {% endif %}
            </div>                             
        </div>                         
    </div>
{% endblock content %}  