{% extends "track/base.html" %}
{% block breadcrumb %}
    <li><a href="{% url "home" %}">Home</a></li>
    <li><a href="{% url "challenge_desc" id=challenge.id %}">{{ challenge.title }}</a></li>  
    <li>{{ track.title }}</li>  
    <li class="active">Evaluation metrics</li>  
{% endblock breadcrumb %} 
{% block content %}
    <div class="col-md-7"> 
        <div class="panel panel-default"> 
            <div class="panel-body"> 
                <h3 class="thin text-center">Evaluation metrics</h3> 
                <hr> 
                {% if track.metrics %} 
                	<div class="row">
                        <div class="col-sm-12"> 
                            {{ track.metrics|safe }}
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-sm-12"> 
                            <p class="text-center"> There are no evaluation metrics in this track.</p>
                        </div>  
                    </div>
                {% endif %}
            </div>                             
        </div>                         
    </div>
{% endblock content %}  