{% extends "base.html" %}
{% load staticfiles %}
{% block container %}
    <ol class="breadcrumb"> 
        <li> <a href="{% url "home" %}">Home</a> </li>
        <li class="active"> Event detail </li>                 
    </ol>            
    <div class="row"> 
        <article class="col-xs-12 maincontent"> 
            <header class="page-header"> 
                <h1 class="page-title">Event detail</h1> 
            </header>                     
            <div class="col-md-6"> 
                <div class="panel panel-default"> 
                    <div class="panel-body"> 
                        <h3 class="thin text-center">Event</h3> 
                        <hr> 
                        <div class="top-margin"> 
                            <label>Title: </label> {{ event.title }}
                        </div> 
                        <div class="top-margin"> 
                            <label>Description: </label> {{ event.description }}
                        </div>  
                        {% if members.count > 0 %}
                            <hr>
                            <h3 class="thin text-center">Members</h3> 
                            <hr>
                            <div class="row">
                                {% for m in members %} 
                                    <div class="col-sm-6">
                                        <p>{{ m.profile.first_name }} {{ m.profile.last_name }}</p>
                                    </div>
                                {% endfor %}  
                            </div>
                        {% endif %}
                        <hr>
                        {% if news.count > 0 %}
                            <h3 class="thin text-center">News</h3> 
                            <hr>
                            <div class="row">
                                {% for n in news %} 
                                    <div class="col-sm-6">
                                        <div class="top-margin"> 
                                            <p>{{ n.title }}</p>
                                        </div>
                                    </div>
                                {% endfor %}  
                            </div>
                        {% endif %}
                        <hr>
                        {% if datasets.count > 0 %}
                            <h3 class="thin text-center">Datasets</h3> 
                            <hr>
                            <div class="row">
                                {% for d in datasets %} 
                                    <div class="col-sm-6">
                                        <div class="top-margin"> 
                                            <p>{{ d.title }}</p>
                                        </div>
                                    </div>
                                {% endfor %}  
                            </div>
                        {% endif %}
                    </div>                             
                </div>                         
            </div>
        </article>
    </div>
{% endblock container %}  