{% extends "base.html" %}
{% load staticfiles %}
{% block container %}
	<ol class="breadcrumb"> 
        <li>
            <a href="{% url "home" %}">Home</a>
        </li>                 
        <li class="active">Events list</li>                 
    </ol> 
    <div class="row"> 
        <article class="col-xs-12 maincontent"> 
            <header class="page-header"> 
                <h1 class="page-title">Events <a href="{% url "event_creation" %}"><img class="plus-icon" src="{% static "images/plus-icon.jpg" %}" alt="Add Event"></a> </h1> 
            </header>                     
            {% if challenges.count > 0 %}
                <div class="col-sm-4">
                    <div class="panel panel-default"> 
                        <div class="panel-body"> 
                            <h3 class="thin text-center">Challenges</h3> 
                            <hr>
                            {% for c in challenges %}
                                <p><a href="{% url "challenge_edit" id=c.id %}">{{ c.title }}</a></p>
                            {% endfor %} 
                        </div>
                    </div>    
                </div>                          
            {% endif %}   
            {% if workshops.count > 0 %}
                <div class="col-sm-4">
                    <div class="panel panel-default"> 
                        <div class="panel-body">
                            <h3 class="thin text-center">Workshops</h3> 
                            <hr>
                            {% for w in workshops %}
                                <p><a href="{% url "workshop_edit" id=w.id %}">{{ w.title }}</a></p>
                            {% endfor %}  
                        </div>
                    </div>            
                </div>                 
            {% endif %} 
            {% if special_issues.count > 0 %}
            <div class="col-sm-4">
                <div class="panel panel-default"> 
                    <div class="panel-body">
                        <h3 class="thin text-center">Special issues</h3> 
                        <hr>
                        {% for s in special_issues %}
                            <p><a href="{% url "special_issue_edit" id=s.id %}">{{ s.title }}</a></p>
                        {% endfor %}  
                    </div>
                </div>  
            </div>                           
            {% endif %}                        
        </article>
    </div>                      
{% endblock container %}   