{% extends "base.html" %}
{% load staticfiles %}
{% block container %}
	<ol class="breadcrumb"> 
        <li>
            <a href="{% url "home" %}">Home</a>
        </li>                 
        <li class="active">Events list</li>                 
    </ol> 
    <div class="row"> 
        <article class="col-xs-12 maincontent"> 
            <header class="page-header"> 
                <h1 class="page-title">Events &ensp;<a href="{% url "event_creation" %}"><i class="fa fa-plus-circle" aria-hidden="true"></i></a> </h1> 
            </header>                     
            <div class="col-sm-4">
                <div class="panel panel-default"> 
                    <div class="panel-body"> 
                        <h3 class="thin text-center">Challenges</h3> 
                        <hr>
                        {% if challenges.count > 0 %}
                            {% for c in challenges %}
                                <p><a href="{% url "challenge_edit" id=c.id %}">{{ c.title }}</a>&ensp;<a href="{% url "event_remove" id=c.id %}"><i class="fa fa-minus-circle fa" aria-hidden="true"></i></a></p>
                            {% endfor %} 
                        {% else %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text-center"> There are no challenges registered</p>
                                </div>
                            </div>
                        {% endif %} 
                    </div>
                </div>    
            </div>                          
            <div class="col-sm-4">
                <div class="panel panel-default"> 
                    <div class="panel-body">
                        <h3 class="thin text-center">Workshops</h3> 
                        <hr>
                        {% if workshops.count > 0 %}
                            {% for w in workshops %}
                                <p><a href="{% url "workshop_edit" id=w.id %}">{{ w.title }}</a>&ensp;<a href="{% url "event_remove" id=w.id %}"><i class="fa fa-minus-circle fa" aria-hidden="true"></i></a></p>
                            {% endfor %}
                        {% else %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text-center"> There are no workshops registered</p>
                                </div>
                            </div>
                        {% endif %}   
                    </div>
                </div>            
            </div>                 
            <div class="col-sm-4">
                <div class="panel panel-default"> 
                    <div class="panel-body">
                        <h3 class="thin text-center">Special issues</h3> 
                        <hr>
                        {% if special_issues.count > 0 %}
                            {% for s in special_issues %}
                                <p><a href="{% url "special_issue_edit" id=s.id %}">{{ s.title }}</a>&ensp;<a href="{% url "event_remove" id=s.id %}"><i class="fa fa-minus-circle fa" aria-hidden="true"></i></a></p>
                            {% endfor %} 
                        {% else %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text-center">There are no special issues registered</p>
                                </div>
                            </div>
                        {% endif %}  
                    </div>
                </div>  
            </div>                           
        </article>
    </div>                      
{% endblock container %}   