{% extends "base.html" %}
{% block container %}
    {% if eventform.non_field_errors  %}
        {% for e in eventform.non_field_errors %} 
            <div class="row"> 
                <div class="col-md-6 widget col-md-offset-3"> 
                    <div class="alert alert-danger" role="alert">{{ e }}</div>
                </div>
            </div>
        {% endfor %} 
    {% endif %}
    <ol class="breadcrumb"> 
        <li> <a href="{% url "home" %}">Home</a> </li>
        <li> <a href="{% url "event_list" %}">Events list</a> </li>                 
        <li class="active">Workshop edit </li>                 
    </ol>            
    <div class="row"> 
        <article class="col-xs-12 maincontent"> 
            <header class="page-header"> 
                <h1 class="page-title">{{ workshop.title }} add picture</h1> 
            </header>                     
            <div class="col-md-6 col-md-offset-3"> 
                <div class="panel panel-default"> 
                    <div class="panel-body"> 
                        <h3 class="thin text-center">{{ workshop.title }}</h3> 
                        <hr> 
                        <form method="POST" action=""> 
                            {% csrf_token %}
                            <div class="top-margin"> 
                                <label>Picture
                                    {% if fileform.file.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>  
                                {% if fileform.errors.file %}
                                    <div class="alert alert-danger" role="alert">{{ fileform.errors.file }}</div>
                                {% endif %}
                                {{ fileform.image }} 
                                <br>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-4 col-lg-offset-8 text-right"> 
                                    <button class="btn btn-action" type="submit" name="signup-button">Save</button>
                                </div>
                            </div>                                     
                        </form>                                 
                    </div>                             
                </div>                         
            </div>
        </article>
    </div>
{% endblock container %}  