{% extends "base.html" %}
{% block container %}
    <ol class="breadcrumb"> 
        {% block breadcrumb %}  
        {% endblock breadcrumb %}     
        {% if not_perm %}
            <div class="row"> 
                <div class="col-md-6 widget col-md-offset-3"> 
                    <div class="alert alert-danger" role="alert">You don't have permission to edit</div>
                </div>
            </div>
        {% endif %}            
    </ol>            
    <div class="row"> 
        <article class="col-xs-12 maincontent"> 
            <header class="page-header"> 
                <h1 class="page-title">{{ workshop.title }}
                    {% if profile %}
                        <a href="{% url 'workshop_edit_desc' id=workshop.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    {% endif %}
                </h1> 
            </header> 
            <div class="col-md-2" id="leftCol">
                <ul class="nav nav-stacked" id="sidebar">
                    <li><a href='{% url 'workshop_desc' id=workshop.id %}'>Description</a></li>
                    <li><a href='{% url 'workshop_schedule' id=workshop.id %}'>Schedule</a></li>
                    <li><a href='{% url 'workshop_associated_events' id=workshop.id %}'>Associated events</a></li>
                    {% if roles %}
                        <li><a href="#" data-toggle="collapse" data-target="#drilldown-2">People <b class="caret"></b></a>
                            <div style="padding-left:0px;">
                                <ul id="drilldown-2" class="nav nav-pills nav-stacked collapse">
                                    {% for r in roles %}
                                        <li><a href='{% url 'workshop_members' id=workshop.id role_id=r.id %}'>{{ r.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                    <!-- <li><a href='{% url 'workshop_program' id=workshop.id %}'>Program</a></li> -->
                    <!-- <li><a href='{% url 'workshop_gallery' id=workshop.id %}'>Gallery</a></li> -->
                    {% if publications %}
                        <li><a href='{% url 'workshop_publications' id=workshop.id %}'>Publications</a></li>
                    {% endif %}
                    {% if sponsors %}
                        <li><a href='{% url 'workshop_sponsors' id=workshop.id %}'>Sponsors</a></li>
                    {% endif %}
                </ul>
            </div>
            {% block content %}
            {% endblock content %}
            <div class="col-sm-3"> 
                <div class="thumbnail">
                    <h2 class="text-center top-space">News</h2>
                    <hr> 
                    <div class="caption">
                        {% if news.count > 0 %}
                            {% for n in news %}
                                <h3>{{ n.title }}</h3> 
                                <p>{{ n.description|safe }}</p>
                                <hr>                                
                            {% endfor %}
                        {% else %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text-center"> There are no news registered in {{ dataset.title }}</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div> 
            </div>  
        </article>
    </div>
{% endblock container %}  