{% extends "base.html" %}
{% load staticfiles %}
{% block container %}
    {% if eventform.non_field_errors  %}
        {% for e in eventform.non_field_errors %} 
            <div class="row"> 
                <div class="col-md-6 widget col-md-offset-3"> 
                    <div class="alert alert-danger" role="alert">{{ e }}</div>
                </div>
            </div>
        {% endfor %} 
    {% endif %}
    <ol class="breadcrumb"> 
        <li> <a href="{% url "home" %}">Home</a> </li>
        {% if not profile %}
            <li> <a href="{% url "event_list" %}">Events list</a> </li>   
        {% endif %}              
        <li class="active">Workshop edit </li>                 
    </ol>            
    <div class="row"> 
        <article class="col-xs-12 maincontent"> 
            <header class="page-header"> 
                <h1 class="page-title">{{ workshop.title }} edit</h1> 
            </header>  
            <form method="POST" action=""> {% csrf_token %}                   
                <div class="panel panel-default"> 
                    <div class="panel-body"> 
                        <h3 class="thin text-center">{{ workshop.title }}</h3> 
                        <hr> 
                        <div class="row">
                            <div class="col-md-8"> 
                                <div class="top-margin"> 
                                    <label>Title 
                                        {% if eventform.title.field.required %}
                                        <span class="text-danger">*</span>
                                        {% endif %}
                                    </label>  
                                    {% if eventform.errors.title %}
                                        <div class="alert alert-danger" role="alert">{{ eventform.errors.title }}</div>
                                    {% endif %}
                                    {{ eventform.title }} 
                                </div>                                     
                                <div class="top-margin"> 
                                    <label>Description 
                                        {% if eventform.description.field.required %}
                                        <span class="text-danger">*</span>
                                        {% endif %}
                                    </label>   
                                    {% if eventform.errors.description %}
                                        <div class="alert alert-danger" role="alert">{{ eventform.errors.description }}</div>
                                    {% endif %}
                                </div>
                                <div class="top-margin"> 
                                    {{ eventform.description }} 
                                </div> 
                                <div class="top-margin">
                                    <div class="dropdown">
                                        <button class="btn btn-action dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Export workshop members
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li><a href="{% url 'export_members_csv' event_id=workshop.id %}">CSV format</a></li>
                                            <li><a href="{% url 'export_members_xls' event_id=workshop.id %}">Excel Binary File format (XLS)</a></li>
                                            <li><a href="{% url 'export_members_xlsx' event_id=workshop.id %}">Office Open XML format (XLSX)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4"> 
                                <div class="panel panel-default"> 
                                    <div class="panel-body"> 
                                       <h3 class="thin text-center">Schedule&ensp;<a href="{% url "schedule_creation" event_id=workshop.id %}"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></h3>
                                        <hr> 
                                        {% if schedule.count > 0 %}
                                            <div class="row">
                                                {% for e in schedule %} 
                                                    <div class="col-sm-12">
                                                        <p class="text-center"><a href="{% url 'schedule_edit' event_id=workshop.id schedule_id=e.id %}">{{ e.date|date:"SHORT_DATETIME_FORMAT" }} {{ e.title }}</a>&ensp;<a id="{{ e.id }}" class="delete-event" value="{% url "event_schedule_remove" id=workshop.id program_id=e.id %}" href=""><i class="fa fa-minus-circle fa" aria-hidden="true"></i></a></p>
                                                    </div>
                                                {% endfor %}  
                                            </div>
                                        {% else %}
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="text-center"> There are no schedule registered in {{ workshop.title }}</p>
                                                </div>
                                            </div> 
                                        {% endif %}  
                                        <h3 class="thin text-center">Associated events&ensp;<a href="{% url "event_relation_creation" id=workshop.id %}"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></h3>
                                        <hr> 
                                        {% if relations.count > 0 %}
                                            <div class="row">
                                                {% for r in relations %} 
                                                    <div class="col-sm-12">
                                                        {% if r.challenge_relation %} 
                                                            <p class="text-center">{{ r.challenge_relation.title }}&ensp;<a id="{{ r.id }}" class="delete-event" value="{% url 'event_relation_remove' id=workshop.id relation_id=r.id %}" href=""><i class="fa fa-minus-circle fa" aria-hidden="true"></i></a></p>
                                                        {% elif r.issue_relation %} 
                                                            <p class="text-center">{{ r.issue_relation.title }}&ensp;<a id="{{ r.id }}" class="delete-event" value="{% url 'event_relation_remove' id=workshop.id relation_id=r.id %}" href=""><i class="fa fa-minus-circle fa" aria-hidden="true"></i></a></p>
                                                        {% elif r.workshop_relation %}
                                                            <p class="text-center">{{ r.workshop_relation.title }}&ensp;<a id="{{ r.id }}" class="delete-event" value="{% url 'event_relation_remove' id=workshop.id relation_id=r.id %}" href=""><i class="fa fa-minus-circle fa" aria-hidden="true"></i></a></p>
                                                        {% elif r.dataset_relation %}
                                                            <p class="text-center">{{ r.dataset_relation.title }}&ensp;<a id="{{ r.id }}" class="delete-event" value="{% url 'event_relation_remove' id=workshop.id relation_id=r.id %}" href=""><i class="fa fa-minus-circle fa" aria-hidden="true"></i></a></p>
                                                        {% endif %}
                                                    </div>
                                                {% endfor %}  
                                            </div>
                                        {% else %}
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="text-center"> There are no associated events in {{ workshop.title }}</p>
                                                </div>
                                            </div> 
                                        {% endif %}

                                        <h3 class="thin text-center">News &ensp;<a href="{% url "news_creation" id=workshop.id %}"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></h3>
                                        <hr> 
                                        {% if news.count > 0 %}
                                            <div class="row">
                                                {% for n in news %} 
                                                    <div class="col-sm-12">
                                                        <div class="top-margin"> 
                                                            <p class="text-center"><a href='{{ n.get_absolute_url }}'>{{ n.title }}</a>&ensp;<a id="{{ n.id }}" class="delete-event" value="{% url 'event_news_remove' id=workshop.id news_id=n.id %}" href=""><i class="fa fa-minus-circle fa" aria-hidden="true"></i></a></p>
                                                        </div>
                                                    </div>
                                                {% endfor %}  
                                            </div>
                                        {% else %}
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="text-center"> There are no news registered in {{ workshop.title }}</p>
                                                </div>
                                            </div>  
                                        {% endif %}
                                        <h3 class="thin text-center">Program &ensp;<a href="{% url "program_creation" id=workshop.id %}"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></h3>
                                        <hr> 
                                        {% if program.count > 0 %}
                                            <div class="row">
                                                {% for e in program %} 
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-12">
                                                        <p class="text-center"><a href="{% url 'schedule_edit' event_id=workshop.id schedule_id=e.id %}">{{ e.date|date:"SHORT_DATETIME_FORMAT" }} {{ e.title }}</a>&ensp;<a id="{{ e.id }}" class="delete-event" value="{% url "event_program_remove" id=workshop.id program_id=e.id %}" href=""><i class="fa fa-minus-circle fa" aria-hidden="true"></i></a></p>
                                                    </div>
                                                    </div>
                                                {% endfor %}  
                                            </div>
                                        {% else %}
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="text-center"> There are no schedule events registered in {{ workshop.title }}</p>
                                                </div>
                                            </div>  
                                        {% endif %}
                                        <h3 class="thin text-center">People &ensp;<a href="{% url "profile_select" id=workshop.id %}"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></h3>
                                        <hr> 
                                        {% if members.count > 0 %}
                                            <div class="row">
                                                {% for m in members %} 
                                                    <div class="col-sm-12">
                                                        <p class="text-center"><a href='{% url 'user_edit' id=m.profile.user.id %}'>{{ m.profile.first_name }} {{ m.profile.last_name }}</a>&ensp;<a id="{{ m.id }}" class="delete-event" value="{% url 'event_member_remove' id=workshop.id member_id=m.id %}" href=""><i class="fa fa-minus-circle fa" aria-hidden="true"></i></a></p>
                                                    </div>
                                                {% endfor %}  
                                            </div>
                                        {% else %}
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="text-center"> There are no members registered in {{ workshop.title }}</p>
                                                </div>
                                            </div>                                            
                                        {% endif %}
                                        <!-- <h3 class="thin text-center">Invited speakers&ensp;<a href="{% url "speaker_select" id=workshop.id %}"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></h3>
                                        <hr> 
                                        {% if speakers.count > 0 %}
                                            <div class="row">
                                                {% for s in speakers %} 
                                                    <div class="col-sm-12">
                                                        <p class="text-center"><a href='{% url 'profile_edit' id=s.profile.id %}'>{{ s.profile.first_name }} {{ s.profile.last_name }}</a>&ensp;<a id="{{ m.id }}" class="delete-event" value="{% url 'event_member_remove' id=workshop.id member_id=s.id %}" href=""><i class="fa fa-minus-circle fa" aria-hidden="true"></i></a></p>
                                                    </div>
                                                {% endfor %}  
                                            </div>
                                        {% else %}
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="text-center"> There are no invited speakers registered in {{ workshop.title }}</p>
                                                </div>
                                            </div>  
                                        {% endif %} -->
                                        <h3 class="thin text-center">Gallery pictures &ensp;<a href="{% url "add_gallery_picture" id=workshop.id %}"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></h3>
                                        <hr>
                                        {% if images.count > 0 %}
                                            <div class="row">
                                                {% for i in images %} 
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <img class="img-responsive img-center" src="{{ i.image.url }}"/>
                                                            <br>
                                                        </div>
                                                    </div>
                                                {% endfor %}  
                                            </div>
                                        {% else %}
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="text-center"> There are no pictures registered in {{ workshop.title }}</p>
                                                </div>
                                            </div>  
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-2 col-lg-offset-8 text-right">
                                {% if workshop.is_public %}
                                    <a class="btn btn-action" href="{% url "workshop_unpublish" id=workshop.id %}">Unpublish</a>
                                {% else %}
                                    <a class="btn btn-action" href="{% url "workshop_publish" id=workshop.id %}">Publish</a>
                                {% endif %}
                            </div>
                            <div class="col-lg-2 text-right"> 
                                <button class="btn btn-action" type="submit" name="signup-button">Save</button>
                            </div>
                        </div>                                     
                    </div>                             
                </div>                         
            </form>
        </article>
    </div>
{% endblock container %}  