{% extends "workshop/base.html" %}
{% block content %}
            <div class="col-md-7"> 
                <div class="panel panel-default"> 
                    <div class="panel-body"> 
                        <h3 class="thin text-center">Workshop program</h3> 
                        <hr> 
                        {% if program.count > 0 %}
                            {% for p in program %}
                                <div class="row">
                                    <div class="col-sm-12"> 
                                        <p><b>{{ p.date }} {{ p.title }}</b></p>
                                        <p>{{ p.description|safe }}</p>
                                        <br>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="row">
                                <div class="col-sm-12"> 
                                    <p class="text-center"> There are no schedule events registered in this workshop</p>
                                </div>  
                            </div>
                        {% endif %}
                    </div>                             
                </div>                         
            </div>
{% endblock content %}  