{% extends "workshop/base.html" %}
{% block content %}
            <div class="col-md-7"> 
                <div class="panel panel-default"> 
                    <div class="panel-body"> 
                        <h3 class="thin text-center">Workshop program</h3> 
                        <hr> 
                        {% if program.count > 0 %}
                            <div class="panel-group" id="accordion1">
                                {% for main, subevents in program %}
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse{{main.id}}">{{ main.date|date:"P" }} <b>{{ main.title }}</b>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse{{main.id}}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="panel-group" id="accordion2">
                                                    {{ main.description|safe }}
                                                    {% if subevents.count > 0 %}
                                                        {% for e in subevents %}
                                                            <div class="panel panel-primary">
                                                                <div class="panel-heading">
                                                                    <h4 class="panel-title">
                                                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse{{e.id}}">{{ e.date|date:"P" }} <b>{{ e.title }}</b>
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapse{{e.id}}" class="panel-collapse collapse">
                                                                    <div class="panel-body">{{ e.description|safe }}</div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-sm-12"> 
                                    <p class="text-center"> There are no schedule events registered in this workshop</p>
                                </div>  
                            </div>
                        {% endif %}
                    </div>                             
                </div>                         
            </div>
{% endblock content %}  