{% extends "workshop/base.html" %}
{% block content %}
    <div class="col-md-7"> 
        <div class="panel panel-default"> 
            <div class="panel-body"> 
                <h3 class="thin text-center">Workshop invited speakers</h3> 
                <hr> 
                {% if speakers.count > 0 %}
                    <div class="row">
                        {% for s in speakers %} 
                            <div class="top-margin"> 
                                {% if s.profile.avatar %}
                                    <div class="col-sm-2">
                                        <img class="img-responsive" src="{{ s.profile.avatar.url }}">
                                    </div>
                                    <div class="col-sm-10">
                                        <p>{{ s.profile.first_name }} {{ s.profile.last_name }}</p> 
                                        <p>{{ s.profile.user.email }}</p>
                                        <p>{{ s.profile.bio }}</p>
                                    </div>
                                {% else %}
                                    <div class="col-sm-12">
                                        <p class="text-center">{{ s.profile.first_name }} {{ s.profile.last_name }}</p> 
                                        <p class="text-center">{{ s.profile.user.email }}</p>
                                        <p class="text-center">{{ s.profile.bio }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}  
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-sm-12"> 
                            <p class="text-center"> There is no member registered in this workshop</p>
                        </div>  
                    </div>
                {% endif %}
            </div>                             
        </div>                         
    </div>
{% endblock content %}  