{% extends "base.html" %}
{% load i18n %}

{% block container %}
    <ol class="breadcrumb"> 
        <li>
            <a href="{% url "home" %}">Home</a>
        </li>                 
        <li class="active">User access</li>                 
    </ol>    
    <br>        
    <div class="row"> 
        <article class="col-xs-12 maincontent">                   
            <div class="col-md-6"> 
                <div class="panel panel-default"> 
                    <div class="panel-body"> 
                        <h3 class="thin text-center">Reset your password</h3> 
                        <p>
						    {% blocktrans %}
						    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
						    {% endblocktrans %}
						</p>
                        <hr> 
                        <form method="POST" action=""> 
                        	{% csrf_token %}
                            <div class="top-margin"> 
                                <label>Email
                                    {% if form.email.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>     
                                {% if form.errors.email %}
                                    <div class="alert alert-danger" role="alert">{{ form.errors.email }}</div>
                                {% endif %}       
                                {{ form.email }} 
                            </div>                                                                       
                            <hr> 
                            <div class="row">                                        
                                <div class="col-lg-4 col-lg-offset-7 text-right"> 
                                    <button class="btn btn-action" type="submit" name="signin-button">Reset password</button>                                             
                                </div>                                         
                            </div>                                     
                        </form>                                 
                    </div>                             
                </div>                         
            </div>
        </article>
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}
