{% extends "base.html" %}
{% block container %}
	<ol class="breadcrumb"> 
        <li> <a href="{% url "home" %}">Home</a> </li>
        <li class="active"> Partners list </li>                 
    </ol> 
    <div class="row"> 
        <article class="col-xs-12 maincontent"> 
            <header class="page-header"> 
                <h1 class="page-title">Partners</h1> 
            </header>    
            {% if partners.count > 0 %}
                <div class="row">
                    {% for p in partners %} 
                        <div class="panel panel-default"> 
                            <div class="panel-body">
                                {% if p.banner %}
                                    <div class="col-sm-3">
                                        <h3>{{ p.name }}</h3>
                                        <a href="{{ p.url }}"><img id="partner-logo" class="img-responsive" src="{{ p.banner.url }}"></a>
                                    </div>
                                    <div class="col-sm-9">
                                        <p><b>Contact:</b> </p>
                                        <p>{{ p.contact.first_name }} {{ p.contact.last_name }}</p>
                                        <p>{{ p.contact.email }}</p>
                                        <p>{{ p.contact.bio }}</p>
                                    </div>
                                {% else %}
                                    <div class="col-sm-2">
                                        <h3>{{ p.name }}</h3>
                                    </div>
                                    <div class="col-sm-10">
                                        <p><b>Contact:</b> </p>
                                        <p>{{ p.contact.first_name }} {{ p.contact.last_name }}</p>
                                        <p>{{ p.contact.email }}</p>
                                        <p>{{ p.contact.bio }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}  
                </div>
            {% else %}
                <div class="row">
                    <div class="col-sm-12"> 
                        <p> There is no sponsor registered in this challenge</p>
                    </div>  
                </div>
            {% endif %}                     
        </article>
    </div>                      
{% endblock container %}    